/* Default code Starts here */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Syne", sans-serif;
  font-family: sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  /* padding-top: 8rem; */
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #424242;
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #686868;
  /* border-radius: 0.5rem;  */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}

h1,
h2,
h3,
h4,
h6,
p {
  /* text-wrap: balance; */
}

input,
textarea,
button {
  font-family: inherit;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: inherit;
}

:root {
  --primaryColor: #000000;
  --secondaryColor: #6754e9;
  --tertiaryColor: #000000B3;
  --whiteColor: #ffffff;
  --cardFontColor:  #333333;
  --lightColor: #eef9ff;
  --heroColor: #2E1EB0;
  --buttonColor: #2210e4;
  --blueColor: #4332B7;
  --yollowLine: #ffbe11;
  --paraFontColor: #4C4C4C;
  --backGroundColor: #f9f9f9;
  --heroParaColor: #9e9da9;
  --bodyColor: #e9e5ff;
  --regularFont: 1.6rem;
  --headingFont: 3rem;
  --ffPrimary: "Syne", sans-serif;
  --ffSecondary: "sans-serif";
  --ffTertiary: "Kanit", sans-serif;
  --ffQuanternary: "Poppins", sans-serif;
  /* --border: 1px solid var(--primaryColor); */
  /* --borderRadius: 0.5rem; */
}

/* project standard classes Starts */

.componentSpacing {
  padding: 3rem 0rem;
  /* overflow-wrap: anywhere; */
}

.align {
  max-width: 1200px;
  margin: auto;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 2rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 0rem 2rem;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dflex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* project standard classes Ends */

/* Default code Ends here */

/* :::PARENT CONTAINER Code Starts here::: */

header {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */
/* :::PARENT CONTAINER Code Ends here::: */

/* :::HEADER Code Starts hereE::: */
/* Navbar code */
/* Navbar code */

/* Hero Section code */
/* Hero Section code */
/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */
/* Our Menu code */
/* Our Menu code */

/* Facility code */
/* Facility code */

/* Popular code */
/* Popular code */

/* Gallery code */
/* Gallery code */

/* Team code */
/* Team code */
/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* Contact code */
/* Contact code */

/* Contact Icons code */
/* Contact Icons code */
/* :::FOOTER Code Ends here::: */

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */


/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, upto 768px and above) */
/* @media (min-width: 577px) and (max-width: 768px) */
@media (width >=577px) and (width <=768px) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (min-width: 769px) and (max-width: 992px) */
@media (width >=769px) and (width <=992px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (min-width: 993px) and (max-width: 1200px) */
@media (width >=993px) and (width <=1200px) {
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (min-width: 1200px)  */
@media (width >=1200px) {
  /* write code here */
}
